    /*--------------------------------------------
Wrapper
---------------------------------------------*/
    
    .wrapper {
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: minmax(0px, max-content);
        grid-template-areas: "header" "main";
    }
    
    .header {
        grid-area: header;
        background-color: #fff;
        box-shadow: 0px 0px 8px 0px rgb(169, 167, 167);
    }
    
    .btn {
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    
    .btn:hover {
        opacity: 0.8;
    }
    /*--------------------------------------------
Main    
---------------------------------------------*/
    
    ​ .main {
        grid-area: main;
        background-color: rgb(124, 235, 140);
    }
    
    .career {
        height: 100%;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-auto-rows: minmax(0px, max-content);
        grid-template-areas: "left" "right";
        /* height: 100em; */
    }
    
    .career div {
        border: 0px solid red;
        /* margin-top: 1em; */
    }
    
    ​ .left {
        grid-area: left;
        background-color: rgb(124, 235, 140);
    }
    
    ​ .right {
        grid-area: right;
        background-color: rgb(124, 235, 140);
    }
    /*--------------------------------------------
Left    
---------------------------------------------*/
    
    .left {
        margin-top: 2em;
    }
    
    .left h1 {
        font-weight: 500;
        font-size: 1em;
        color: rgb(43, 211, 82);
        opacity: 1 !important;
        height: 1em;
    }
    .left h1 label{
        font-size: 0.8em;
    }
    .left .jobname{
        color: #393939;
        font-size: 36px;
        font-weight: 900;
    }
    .left .joblocation{
        color: #9E9E9E;
        font-size: 18px;
        font-weight: 500;
    }
    .left .jobdescription{
        color: #6f7172;
        font-size: 16px;
        font-weight: 500;
    }
    .left .jobqualification{
        color: #9E9E9E;
        font-size: 18px;
        font-weight: 500;
    }
    .left h1:hover {cursor: pointer;   text-decoration-line: underline;}
    .left ul li {
        display: block;
        color: #1e70bf;
        cursor: pointer;
    }
    
    .left ul li ul {
        display: none;
    }
    
    .left ul li label {
        color: gray;
    }
    
    .left ul li:hover {
        text-decoration-line: underline;
    }
    
    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
    }
    
    ul li ul {
        padding-left: 1em;
        height: 1.5em;
        padding-top: 0.2em;
    }
        
    .applynowform {
        margin-top: 2.5em;
        padding-left: 40px;
        padding-right: 40px;
        border: 0px solid rgba(128, 128, 128, 0.442);
        width: 100%;
    }

    .applynowform h1 {
        font-weight: 500;
        color: black;
    }

    .input-text {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .input-submit-green {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .ul-cs {
        list-style-type: none;
        border-bottom: 2px solid #f1f1f1;
        padding: 30px;
    }

    .searchformfld input:focus {
        border: 1px solid #000;
        outline-color: #000;
        background-color: #fff !important;
    }

    .searchformfld {
        margin: 15px 0px;
        position: relative;
        height: 3em;
    }

    .searchformfld input {
        width: 100%;
        color: #000 !important;
        height: 100%;
        border-radius: 4px;
        border: 1px solid #d5d3d3;
    }

    .searchformfld label,
    .searchformfld input {
        transition: all 0.2s;
        transition-timing-function: ease;
        transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
        position: absolute;
        padding-top: 0.8em;
        padding-left: 1.5em;
    }

    .searchformfld input:focus+label,
    .searchformfld input:not(:placeholder-shown)+label {
        opacity: 1;
        transform: scale(.9) translateY(-100%) translateX(-10px);
        color: rgb(43, 203, 49) !important;
        padding-left: 0.2em;
    }
    /*--------------------------------------------
Right    
---------------------------------------------*/
    
    .right h1 {
        font-weight: 500;
        font-size: 1.5em;
        color: black;
    }
    
    .joblist table tbody tr:hover {
        background-color: #4CAF50;
        cursor: pointer;
    }
    
    .joblist .textheader {
        font-weight: 900;
        height: 2em;
    }
    
    table {
        border-spacing: 0px !important;
    }