
   /*--------------------------------------------
        Wrapper
---------------------------------------------*/
.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(0px, max-content);
    grid-template-areas: "header""main";
}

.header {
    grid-area: header;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgb(169, 167, 167);

}

​ .main {
    grid-area: main;
    background-color: rgb(124, 235, 140);
}




   /*--------------------------------------------
        Services
---------------------------------------------*/
.services{
    display: grid;
    grid-template-columns: 15% 65% 20%;
    margin-top: 1em;
}
.services div{
    border:0px solid red;
    /* margin-top: 1em; */
}
.grid-rightbar {
    padding-left: 10px;
}

.input-text {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-submit-green {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.ul-cs {
    list-style-type: none;
    border-bottom: 2px solid #f1f1f1;
    padding: 30px;
}


/* custom */

a:focus {
    outline: none;
}

.HomeSlider {
    float: left;
    display: block;
    width: 100%;
    margin-top: 20px;
}

.featureslider {
    position: relative;
}

.featuredPostSlider {
    float: left;
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.featuredPostSlider img {
    width: 100%;
}

.featuredPostSlider h2 {
    width: 65%;
    position: absolute;
    left: 5%;
    color: #fff;
    font-size: 36px;
}

#slick-pager {
    /* position: absolute; */
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    float: left;
    z-index: 9;
}

#slick-pager a {
    padding: 10px 15px;
    width: 100%;
    float: left;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    color: #fff;
    text-decoration: none;
}

#slick-pager a:hover {
    text-decoration: none;
}

#slick-pager a.active {
    background-color: #d95123;
}

#slick-pager a h3 {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    margin: 0 0 8px;
}

#slick-pager a p {
    font-family: "Lato", sans-serif;
    font-size: 13px;
    margin-bottom: 8px;
}

#slick-pager a span.time {
    font-family: "Lato", sans-serif;
    font-size: 10px;
}

#slick-pager .slick-list .slick-track .slick-slide.slick-current {
    background-color: #d95123;
    width: 100% !important;
}

.slick-pager {
    margin-top: 30px;
    margin-bottom: 0;
}

.pagerNavigation i {
    float: left;
    width: 100%;
    margin-top: 0px;
    background: #469191
}

.pagerNavigationTop {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 29px;
    text-align: center;
    position: relative;
    right: 0;
    width: 1;
    cursor: pointer;
}

.pagerNavigationBottom {
    /* bottom: -30px; */
    /* position: absolute; */
    background-color: rgba(0, 0, 0, 0.5);
    width: 1;
    left: 0;
    height: 30px;
    cursor: pointer;
    color: #fff;
    font-size: 29px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}

.accordion {
    background-color: #469191;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-bottom: #fff 1px solid;
}

.active,
.accordion:hover {
    background-color: #ccc;
    color: #000;
}

.accordion:after {
    content: '\002B';
    /* color: #777; */
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.pagenextprev{
    display: none;
}


  /*------------------------------------------------
        MEDIA QUERIES
------------------------------------------------*/
@media (max-width: 1045px) {
    .services{
        display: grid;
        grid-template-columns: 20% 80% ;
      
            margin-top: 1em;
            padding: 0.2em;
    }
    .grid-rightbar{
        display: none;
    }
    .services div .grid-leftbar button{
        font-size: 15px;
        text-align: center;
    }
    .accordion {
        padding: 10px;
    }
    .accordion:after {
        float: left;
        margin-left: 20px;
    }
    .pagerNavigationTop {
        background-color:white;
               color: rgb(19, 18, 18);
    }
    .pagerNavigationBottom {
        background-color:white;
        color: rgb(19, 18, 18);
    }
   .pagenextprev{
    height:2em;
      color: black;
       border:0px solid red;
        width: 100%;
        display: block;
   }
   .grid-details .featuredPostSlider h2{
       font-size: 15px;
   }
}