/*--------------------------------------------
Wrapper
---------------------------------------------*/

.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(0px, max-content);
    grid-template-areas: "header""main";
}

.header {
    grid-area: header;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgb(169, 167, 167);
}

​ .main {
    grid-area: main;
    background-color: rgb(124, 235, 140);
}

.activeheight {
    max-height: 150px !important;
}

.activebgcolor {
    background-color: #ccc !important;
}


/*--------------------------------------------
Left Bar
---------------------------------------------*/

.topdestination {
    display: grid;
    grid-template-columns: 15% 65% 20%;
    margin-top: 1em;
    padding-right: 1em;
}

.topdestination div {
    border: 0px solid red;
}

.accordion {
    background-color: #469191;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-bottom: #fff 1px solid;
}

.active,
.accordion:hover {
    background-color: #ccc;
    color: #000;
}

.accordion:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 0px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.grid-leftbar .panel p {
    text-align: center;
    width: 100%;
    height: 2.5em;
    padding-top: 0.5em;
}

.grid-leftbar .panel p:hover {
    background-color: gray;
    cursor: pointer;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/*--------------------------------------------
Grid Details
---------------------------------------------*/

.grid-details {
    box-shadow: 0px 0px 8px 0px rgb(169, 167, 167);
    margin-right: 2%;
}

.grid-details img {
    width: 100%;
    height: 33em;
}

.grid {
    display: grid;
    grid-template-columns: 100%;
}

.grid div {
    border: 0px solid red;
}

.grid .grid-footer {
    height: 5em;
}

.grid-details .grid .grid-body {
    height: 23em;
}

.grid-details .grid .grid-footer .mobileslider {
    border: 0px solid gray !important;
    box-shadow: 0px 0px 8px 0px rgb(169, 167, 167);
    width: 100%;
    height: 100%;
    bottom: 0;
    display: none;
    overflow: hidden;
}

.mobileslider {
    position: relative;
}

.mobileslider img {
    width: 4em;
    height: 10em;
}

.grid-details .grid .grid-footer .mobileslider .ImgSlides {
    display: flex;
}

.grid-details .grid .grid-footer .mobileslider .ImgSlides img {
    opacity: 0.5;
}

.grid-details .grid .grid-footer .mobileslider .ImgSlides img:hover {
    opacity: 1;
    cursor: pointer;
}

.grid_details_arrowPrev {
    border: 1px solid gray !important;
    width: 3em;
    height: 100%;
    float: left;
    font-size: 1em;
    padding-top: 2em;
    text-align: center;
    background-color: #469191;
    color: white;
    z-index: 1;
}

.grid_details_arrowPrev:hover {
    cursor: pointer;
    color: black;
}

.grid_details_arrowNext {
    border: 1px solid gray !important;
    width: 3em;
    height: 100%;
    float: right;
    font-size: 1em;
    padding-top: 2em;
    text-align: center;
    background-color: #469191;
    color: white;
    z-index: 1;
}

.grid_details_arrowNext:hover {
    cursor: pointer;
    color: black;
}


/*--------------------------------------------
right Bar
---------------------------------------------*/

.grid-rightbar {
    border: 1px solid gray;
    width: 100%;
    box-shadow: 0px 0px 8px 0px rgb(169, 167, 167);
}

.container_carousel {
    width: 100%;
    margin: auto;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
    height: 28em;
}

.myslide {
    height: 12em;
    text-align: center;
    transition: all ease 1s;
}

.container_carousel .myslide img {
    width: 100%;
    height: 8.5em;
    display: block;
    padding: 1em;
}

.container_carousel .myslide img:hover {
    opacity: 0.5;
    cursor: pointer;
}

#prevBtn {
    z-index: 1;
    font-size: 30px;
    color: white;
    cursor: pointer;
    width: 100%;
    border: 0px solid red;
    background-color: #469191;
}

#prevBtn:hover {
    color: black;
}

#nextBtn {
    z-index: 10;
    font-size: 30px;
    color: white;
    cursor: pointer;
    width: 100%;
    border: 0px solid red;
    background-color: #469191;
}

#nextBtn:hover {
    color: black;
}


/*------------------------------------------------
MEDIA QUERIES
------------------------------------------------*/

@media (max-width: 945px) {
    .topdestination {
        display: grid;
        grid-template-columns: 25% 75%;
        margin-top: 1em;
    }
    .topdestination div {
        border: 0px solid red;
    }
    .grid-details img {
        height: 100%;
    }
    .rightbar {
        display: none;
    }
    .grid-details .grid .grid-footer {
        display: flex;
    }
    .grid-details .grid .grid-footer .mobileslider {
        width: 100%;
        display: flex;
    }
}

@media (max-width: 500px) {
    .grid-details img {
        height: 100%;
    }
    .mobileslider {
        width: 71%;
        bottom: 5.2em;
    }
}