    body {
        box-sizing: border-box;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        word-spacing: 0;
        width: 100%;
        color: black;
        background-color: white;
        margin: 0;
        font-family: Calibri, sans-serif;
    }
    
    * {
        box-sizing: border-box;
    }
    
    .img-fluid {
        max-width: 100%;
        height: auto;
    }
    
    .sticky-top {
        position: fixed;
        height: 5em !important;
        width: 100%;
        top: -70px;
        left: 0;
        right: 0;
        background: #fff;
        -webkit-transform: translateY(70px);
        transform: translateY(70px);
        -webkit-transition: background 1500ms ease, -webkit-transform 1500ms ease;
        transition: background 1500ms ease, -webkit-transform 1500ms ease;
        transition: transform 1500ms ease, background 1500ms ease;
        transition: transform 1500ms ease, background 1500ms ease, -webkit-transform 1500ms ease;
        -webkit-transition: transform 1500ms ease, background 1500ms ease;
        box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
    }



    /*--------------------------------------------
        Wrapper
---------------------------------------------*/
.wrapper {
    height: 100%;
    /* display: grid; */
    grid-template-columns: 100%;
    grid-auto-rows: minmax(70px, max-content);
    grid-template-areas: "header""main";
}

.header {
    grid-area: header;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgb(169, 167, 167);

}

​ .main {
    grid-area: main;
    background-color: rgb(124, 235, 140);
}


/*------------------------------------------------
    Left Header
------------------------------------------------*/
.leftheader {
    float: left;
    padding-left: 10%;
    padding-top: 1em;
}

.leftheader img {
    width: 10em;
}


/*------------------------------------------------
    Right Header
------------------------------------------------*/
.header-wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 17% auto 17%;
    border: 0px solid green;
    height: 5em;
}

.header-left {
    text-align: center;
    padding-top: 1em;
}
   /*--------------------------------------------
        Login Button
---------------------------------------------*/
.header-wrapper .loginbutton {
    padding-top: 25px;
    cursor: pointer;
}

.header-wrapper .loginbutton label {
    cursor: pointer;
    font-size: 14px;
    margin-left: 1em;
}
.header-wrapper .loginbutton i {
  
    margin-left: 0.5em;
}
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }
.rotate{
    transform: rotate(180deg);
}

   /*--------------------------------------------
        Header Right
---------------------------------------------*/
.header-right {
    border: 0px solid blue;
    text-align: right;
}

table {
    transition: all ease 2s;
}

.header-right table {
    float: right;
    margin-top: 1.5em;
}

.header-right table tr td {
    border: 0px solid green;
    width: 6em;
    text-align: center;
    font-size: 14px;
}

.header-right table tr td:hover {
    color: green;
    cursor: pointer;
}

.header-right .header-navigation {
    display: none;
}

.header_boxshadow {
    box-shadow: 3px 0px 4px 1px rgb(24, 23, 23);
    margin-bottom: 0.1em;
}

.header-right i {
    font-size: 2em;
    color: white
}

.loginmenu div {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 1.6em;
    padding-left: 25%;
    font-size: 12px;
}

.loginmenu div input {
    width: 12em;
}

.loginmenu div .forgotpwd {
    color: red;
    text-align: left;
    padding-top: 0.5em;
    cursor: pointer;
    float: left;
}

.loginmenu div .forgotpwd a {
    color: red;
}

.loginmenu div label {
    color: blue;
    text-align: right;
    padding-right: 1.5em;
    padding-top: 0.5em;
    cursor: pointer;
}

.loginmenu {
    border: 0px solid red;
    width: 0em;
    height: 5em;
    transition: all ease 2s;
    float: right;
}

.slidewidth {
    border: 0px solid red;
    width: 50%;
    height: 5em;
    transition: all ease 2s;
}
.rightheader {
    float: right;
    margin-right: 10%;

}

    /*--------------------------------------------
        Cover
---------------------------------------------*/
    
    .img_cover {
        width: 100%;
        max-height: 30em;
        /* max-width:100%; 
    max-height: auto; */
    }
    /*--------------------------------------------
        Destination
---------------------------------------------*/
    
    .destination {
        text-align: center;
        font-weight: 300!important;
        margin-top: 1em !important;
        font-size: 2.5rem;
    }
    
    .destination_details {
        text-align: center;
        opacity: 0.5;
        margin-top: 0.5em;
    }
    
    .destination_image {
        margin-top: 2em;
        height: 100%;
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        border: 0px solid green;
        text-align: center;
        row-gap: 0.5em;
        column-gap: 1em;
        margin-left: 15%;
        margin-right: 16%;
        cursor: pointer;
    }
    
    .destination_image div:hover {
        opacity: 0.8;
    }
    /*------------------------------------------------
        Partners
------------------------------------------------*/
    
    .partners {
        text-align: center;
        font-weight: 300!important;
        margin-top: 3em !important;
        font-size: 2.5rem;
    }
    
    .partners_image {
        margin-top: 2em;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        border: 0px solid green;
        height: 100%;
        text-align: center;
        row-gap: 0.5em;
        column-gap: 2em;
        margin-left: 18%;
        margin-right: 21%;
        cursor: pointer;
    }
    
    .partners_image div:hover {
        opacity: 0.8;
    }
    /*------------------------------------------------
        Services Offered
------------------------------------------------*/
    
    .services {
        text-align: center;
        font-weight: 300!important;
        margin-top: 3em !important;
        font-size: 2rem;
        color: #0b464c;
        height: 0.5em;
        border: 0px solid red;
    }
    
    .servicesdetails {
        margin-top: 3em;
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        border: 0px solid green;
        height: 100%;
        text-align: center;
        row-gap: 0.5em;
        column-gap: 2em;
        margin-left: 9%;
        margin-right: 12%;
        cursor: pointer;
    }
    
    .servicesdetails div {
        font-size: 0.9em;
    }
    
    .servicesdetails div h2 {
        color: #0b464c;
        border: 0px solid red;
        height: 0.5em;
        font-weight: 600;
    }
    
    .servicesimage {
        margin-top: 3em;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        border: 0px solid green;
        height: 100%;
        text-align: center;
        row-gap: 0.5em;
        column-gap: 2em;
        margin-left: 18%;
        margin-right: 21%;
        cursor: pointer;
    }
    
    .servicesimage div img {
        border-radius: 50%;
        width: 125px;
        height: 125px;
    }
    
    .servicesimage div p {
        font-size: 14px;
        border: 0px solid red;
        width: 16em;
        text-align: center;
    }
    
    .servicesimage_airlines {
        margin-top: 2em;
        display: grid;
        grid-template-columns: 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1%;
        border: 0px solid green;
        height: 100%;
        text-align: center;
        row-gap: 0em;
        column-gap: 0em;
        margin-left: 20%;
        margin-right: 18%;
        cursor: pointer;
    }
    
    .servicesimage_airlines div img {
        border-radius: 50%;
        width: 90px;
        height: 90px;
        border: 1px solid green;
    }
    /*------------------------------------------------
        About Us
------------------------------------------------*/
    
    .aboutus {
        text-align: center;
        font-weight: 300!important;
        margin-top: 2em !important;
        font-size: 2rem;
        color: #0b464c;
        height: 0.5em;
        border: 0px solid red;
    }
    
    .aboutusdetails {
        margin-top: 2em;
        display: grid;
        grid-template-columns: 100%;
        border: 0px solid green;
        height: 100%;
        text-align: center;
        row-gap: 0.5em;
        column-gap: 2em;
        margin-left: 12%;
        margin-right: 12%;
        cursor: pointer;
    }
    
    .aboutusdetails div {
        text-align: left;
        margin: 0em;
        color: #888;
    }
    
    .aboutusdetails div h3 {
        text-align: left;
        border: 0px solid red;
        height: 0.5em;
        text-decoration: underline;
        text-decoration-color: #a1cd45;
        font-weight: 100;
        color: black;
        font-size: 1.2em;
    }
    /*------------------------------------------------
        Get In Touch
------------------------------------------------*/
    
    .getintouch {
        text-align: center;
        font-weight: 300!important;
        margin-top: 3em !important;
        font-size: 2rem;
        color: #0b464c;
        height: 0.5em;
        border: 0px solid red;
    }
    
    .getintouchdetails {
        margin-top: 4em;
        display: grid;
        grid-template-columns: 50% 50%;
        border: 0px solid green;
        height: 100%;
        text-align: center;
        row-gap: 0.5em;
        column-gap: 2em;
        margin-left: 10%;
        margin-right: 12%;
        cursor: pointer;
    }
    
    .getintouchdetails div {
        border: 0px solid red;
        text-align: left;
        font-weight: 700 !important;
    }
    
    .getintouchdetails div iframe {
        width: 100%;
        height: 30em;
    }
    
    .getintouchdetails div p {
        color: #888;
    }
    
    .getintouchdetails div .text-success {
        color: #a1cd45 !important;
    }
    /*------------------------------------------------
        Footer
------------------------------------------------*/
    
    .footer {
        width: 100%;
        background-color: #333333;
        margin-top: 2em;
        padding-top: 0.1em;
        padding-bottom: 2.1em;
    }
    
    .footerdetails {
        margin-top: 4em;
        display: grid;
        grid-template-columns: 45% 15% 28%;
        border: 0px solid green;
        height: 100%;
        text-align: center;
        row-gap: 0.5em;
        column-gap: 2em;
        margin-left: 18%;
        margin-right: 12%;
        cursor: pointer;
    }
    
    .footerdetails div {
        margin-top: 2em;
        text-align: left;
        color: #737373;
        border: 0px solid green;
    }
    
    .footerdetails div h3 {
        color: white;
    }
    
    .footerdetails div ul {
        padding-left: 0;
    }
    
    .footerdetails div ul li {
        display: block;
        border: 0px solid red;
        height: 2em;
        padding-left: 0;
    }
    
    .footerdetails div .footericon {
        padding-left: 0;
    }
    
    .footerdetails div .footericon li {
        display: inline;
        margin-right: 1em;
        text-align: left;
    }
    
    .footerdetails div ul li:hover {
        color: #a1cd45;
    }
    
    .footerpartnersdetails {
        text-align: center;
        height: 3em;
        padding-top: 1em;
        font-size: 90%;
        font-weight: 500;
    }
    
    .footerpartnersdetails a {
        color: black;
    }
    /*------------------------------------------------
        Return To Top
------------------------------------------------*/
    
    .returntotop {
        display: none;
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 99;
        font-size: 18px;
        border-width: 2px;
        background-color: #e9ecef;
        box-shadow: 0px 0px 8px 0px rgb(169, 167, 167);
        width: 2.3em;
        height: 2.2em;
        text-align: center;
    }
    
    .returntotop:hover {
        color: #d9534f;
        cursor: pointer;
    }
    
    .returntotop i {
        font-size: 1.5em;
        padding-top: 0.2em;
    }


        /*------------------------------------------------
         Chat
------------------------------------------------*/
    
.chat {
    position: fixed;
    bottom: 6px;
    right: 10px;
    z-index: 99;
    font-size: 21px;
    border-width: 2px;
    background-color: rgb(0, 132, 255);
    box-shadow: 0px 0px 8px 0px rgb(169, 167, 167);
    width: 2.2em;
    height: 2.2em;
    text-align: center;
    transition: all ease 1s;
    border-radius: 50%;
    color: white;
    padding-top: 1px;
}

.chat:hover {
    font-size: 23px;
    width: 2.3em;
    height: 2.3em;
    cursor: pointer;
}

.chat i {
    font-size: 1.5em;
    padding-top: 0.2em;
}
.fb-widget {
    background: #fff;
    z-index: 2;
    position: fixed;
    width: 360px;
    height: 435px;
    overflow: hidden;
    opacity: 1;
    bottom: 60px !important;
    right: 24px;
    border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
    -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
    -moz-box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
    -o-box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
    transition: all ease 1s;
    display: none;
}


.ctrlq.fb-close {
    z-index: 4;
    padding: 0 6px;
    background: #365899;
    font-weight: 900;
    font-size: 15px;
    color: #fff;
    margin: 8px;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    cursor: pointer;
}



    /*------------------------------------------------
        MEDIA QUERIES
------------------------------------------------*/
    
    @media (min-width: 1445px) {
        .mycontainer {
            width: 1430px;
            margin-left: auto;
            margin-right: auto;
            border: 0px solid red;
        }
    }
    
    @media (max-width: 1345px) {
        .mycontainer {
            width: 1230px;
            margin-left: auto;
            margin-right: auto;
            border: 0px solid blue;
        }
    }
    
    @media (max-width: 1245px) {
        .mycontainer {
            width: 1130px;
            margin-left: auto;
            margin-right: auto;
            border: 0px solid red;
        }
    }
    
    @media (max-width: 1145px) {
        .mycontainer {
            width: 1030px;
            margin-left: auto;
            margin-right: auto;
            border: 0px solid blue;
        }
    }
    
    @media (max-width: 1045px) {
        .mycontainer {
            width: 930px;
            margin-left: auto;
            margin-right: auto;
            border: 0px solid red;
        }
        .header-left {
            text-align: left;
        }
        .header-wrapper {
            height: 100%;
            display: grid;
            grid-template-columns: auto;
            border: 0px solid green;
            height: 5em;
        }
        .header-right .header-navigation {
            text-align: center;
            display: block;
            border: 2px solid white;
            background-color: #495057;
            padding-top: 0.9em;
            height: 4em;
            width: 4em;
            float: right;
            cursor: pointer;
            position: absolute;
            right: 0;
            margin-top: -3.5em !important;
            border-radius: 10px;
        }
        .header-right .header-navigation:hover {
            background-color: rgb(233, 224, 224);
        }
        .header-right table {
            margin-top: 0.5em;
            width: 100%;
            border: 0px solid red;
            display: none;
            position: fixed;
            float: center;
            left: 0;
        }
        .header-right table tr td {
            display: block;
            background-color: #888;
            height: 2em;
            width: 100%;
            text-align: center;
        }
        .header-right table tr td:hover {
            background-color: rgb(218, 212, 212);
        }
        .destination_image {
            margin-top: 2em;
            height: 100%;
            display: grid;
            grid-template-columns: 100%;
            border: 0px solid green;
            text-align: center;
            row-gap: 0.5em;
            column-gap: 1em;
            margin-left: 15%;
            margin-right: 16%;
            cursor: pointer;
        }
        .partners_image {
            margin-top: 2em;
            height: 100%;
            display: grid;
            grid-template-columns: 100%;
            border: 0px solid green;
            text-align: center;
            row-gap: 0.5em;
            column-gap: 1em;
            margin-left: 15%;
            margin-right: 16%;
            cursor: pointer;
        }
        .servicesdetails {
            margin-top: 2em;
            display: grid;
            grid-template-columns: 100%;
            border: 0px solid green;
            height: 100%;
            text-align: center;
            row-gap: 0.5em;
            column-gap: 2em;
            cursor: pointer;
        }
        .servicesimage {
            margin-top: 2em;
            display: grid;
            grid-template-columns: 100%;
            border: 0px solid green;
            height: 100%;
            text-align: center;
            row-gap: 0.5em;
            column-gap: 2em;
            margin-left: 18%;
            margin-right: 21%;
            cursor: pointer;
        }
        .servicesimage div p {
            font-size: 14px;
            border: 0px solid red;
            width: 100%;
            text-align: center;
        }
        .servicesimage_airlines {
            margin-top: 2em;
            display: grid;
            grid-template-columns: 33.3% 33.3% 33.3%;
            border: 0px solid green;
            height: 100%;
            text-align: center;
            row-gap: 0em;
            column-gap: 0em;
            margin-left: 20%;
            margin-right: 18%;
            cursor: pointer;
        }
        .getintouchdetails {
            margin-top: 2em;
            display: grid;
            grid-template-columns: 100%;
            border: 0px solid green;
            height: 100%;
            text-align: center;
            row-gap: 0.5em;
            column-gap: 2em;
            margin-left: 10%;
            margin-right: 12%;
            cursor: pointer;
        }
        .getintouchdetails div {
            text-align: center;
        }
        .footerdetails {
            display: grid;
            grid-template-columns: 100%;
            border: 0px solid green;
            height: 100%;
            text-align: center;
            row-gap: 0.5em;
            column-gap: 2em;
            margin-left: 10%;
            margin-right: 12%;
            cursor: pointer;
        }
        .footerdetails div {
            text-align: center;
        }
        .footerdetails div .footericon {
            text-align: center;
            border: 0px solid red;
            padding-left: 1.5em;
        }
    }
    
    @media (max-width: 945px) {
        .mycontainer {
            width: 830px;
            margin-left: auto;
            margin-right: auto;
            border: 0px solid blue;
        }
    }
    
    @media (max-width: 845px) {
        .mycontainer {
            width: 730px;
            margin-left: auto;
            margin-right: auto;
            border: 0px solid red;
        }
    }
    
    @media (max-width: 745px) {
        .mycontainer {
            width: 630px;
            margin-left: auto;
            margin-right: auto;
            border: 0px solid blue;
        }
    }
    
    @media (max-width: 645px) {
        .mycontainer {
            width: 500px;
            margin-left: auto;
            margin-right: auto;
            border: 0px solid blue;
        }
    }
    
    @media only screen and (max-width: 500px) {
        .mycontainer {
            width: 450px;
            margin-left: auto;
            margin-right: auto;
            border: 0px solid red;
        }
        .header-right table {
            margin-top: 0.5em;
            width: 100%;
            border: 0px solid red;
            display: none;
            position: fixed;
            float: center;
        }
        .loginmenu div {
            display:none;
        }
    }
